<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kinvo.easyinventory">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyInventory">

        <!-- Membership login (after WebView success) -->
        <activity
            android:name=".MembershipLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- other activities... -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_settings"
            android:theme="@style/Theme.EasyInventory" />




        <!-- Lets the user choose their inventory provider (Epos Now, Shopify, Clover) -->
        <activity
            android:name=".ProviderPickerActivity"
            android:exported="true"
            android:label="@string/title_provider_picker"
            android:theme="@style/Theme.EasyInventory" />


        <!-- API Key & Secret screen -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <!-- Product search -->
        <activity
            android:name=".ProductSearchActivity"
            android:exported="true" />

        <!-- Generic webview / OAuth login -->
        <activity android:name=".PrivacyPolicyActivity" android:exported="true" />
        <activity android:name=".TermsOfServiceActivity" android:exported="true" />
        <activity android:name=".UserAgreementActivity" android:exported="true" />
        <activity android:name=".AboutActivity" android:exported="true" />
        <activity android:name=".WebViewActivity" android:exported="true" />

        <activity
            android:name=".WebViewLoginActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <!-- Custom scheme deep link: easyinventory://auth/callback?status=success -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="${appScheme}"
                    android:host="auth"
                    android:pathPrefix="/auth/callback" />
            </intent-filter>

            <!-- HTTPS deep link (host varies by flavor via manifestPlaceholders):
                 demo    -> easyinventory.webflow.io
                 basic/premium -> app.easyinventory.com -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="${authHost}"
                    android:pathPrefix="/auth/callback" />

            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>






    </application>
</manifest>
